*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.contenedor{
	display: flex;
	flex-flow: column wrap;
}

.contenido{
	width: 70%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	background-color: #d0e8f2;
	padding: 50px 80px;
	margin-bottom: 100px;
	margin-top: 100px;
	border-radius: 30px;
	box-shadow: 10px 10px 5px #cccccc;
}

.sobre_mi{
	text-align: center;
	
}

.sobre_mi h2{
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
	color: #000;
	padding: 10px 0;
	text-align: center;
}

.sobre_mi p{
	font-family: 'Arimo', sans-serif;
	color: #444444;
	font-size: 20px;
	text-align: left;
}

.sobre_mi img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 5px solid #1CC5DC;
	object-fit: cover;
}

.redes_sociales{
	text-align: center;
	margin-top: 20px;
}

.redes_sociales i{
	color: #1CC5DC;
	font-size: 18px;
	padding: 15px 15px;	
}

.redes_sociales i:hover{
		/*background-color: rgba(255,255,255,.2);*/	
		color: #000;
	}



